
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/expandable-search-bar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" />
    <script defer src="/src/component/expandable-search-bar.js"></script>
</head>
<body>
    <div class="content">
        <div class="search">
          <input type="text" class="search__input" aria-label="search" placeholder="enter your search">
          <button class="search__submit" aria-label="submit search"><i class="fas fa-search"></i></button>
        </div>
      </div>    
</body>
</html>